<div class="container">
  <form class="navbar-form navbar-right" role="search">
    <div class="form-group", id="form-search">
      <%= form_tag(videos_path, :method => "get", class: "navbar-form navbar-right") do %>
      <em><%= text_field_tag :search, params[:search], placeholder: "Search Videos...", class: "form-control" %></em>
        <%= submit_tag "Search", :name => nil, class: "btn-sm btn-primary" %>
      <% end %>
    </div>
  </form>
</div>

<% @video %>
  <div class="container">
    <div id="player-wrapper"></div>
  </div>