@import "bootstrap";
@import "bootstrap/theme";
@import 'sticky.css.scss';

.yt_video {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  img {
    cursor: pointer;
    width: 100%;
    height: auto;
  }

  .glyphicon-thumbs-down {margin-left: 20px;}
}

#tags {
	font-size: 13px;
}

body {
  background-image: url("assets/gigatonpunchlogo.png");
}

.NavbarBrandDecoration {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
  text-decoration: none;
  font-family: helvetica;
}

a:link {
    color: none;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: none;
    text-decoration: none;

}

/* mouse over link */
a:hover {
    color: none;
    text-decoration: none;
}

/* selected link */
a:active {
    color: none;
    text-decoration: none;
}